<div class="container">

  <div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
</div>

  <div class="tile is-ancestor is-multiline">
    <% page.posts.each(function(item){ %>
      <div class="tile is-vertical is-8">
        <div class="card">

          <% if (item.cover) { %>
          <div class="card-image">
            <img style="width: 100%;" src="<%- config.root %><%- item.path %><%- item.cover %>" />
          </div>
          <% } %>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title"><%- item.title || theme.default_post_title || "Untitled" %></p>
              </div>
            </div> <!-- .media -->
          </div> <!-- .card-content -->

        </div> <!-- .card -->
      </div> <!-- .card -->
    <% }); %>
  </div>

</div>
