<!-- Navigation -->

<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="logo nav-item">
      0e1dev
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="https://www.linkedin.com/in/luizhrqas">
      <span class="button is-info is-outlined">
        <span class="icon">
          <i class="fa fa-linkedin"></i>
        </span>
      </span>
    </a>
    <a class="nav-item" href="https://github.com/lhas">
      <span class="button is-danger is-outlined">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </span>
    </a>
    <a class="nav-item" href="https://www.facebook.com/lhas666">
      <span class="button is-primary is-outlined">
        <span class="icon">
          <i class="fa fa-facebook"></i>
        </span>
      </span>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      Home
    </a>

    <span class="nav-item">
      <a class="button is-primary">
        <span class="icon">
          <i class="fa fa-envelope"></i>
        </span>
        <span>Contato</span>
      </a>
    </span>
  </div>
</nav>
